body {
    font-family: "Indie Flower", cursive;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .heading {
    display: flex;
    justify-content: center;
    font-family: "Pacifico", cursive;
  }
  
  .infobar {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
  }
  
  .moves__wrapper,
  .timer__wrapper {
    text-align: center;
  }
  
  .restart {
    background: none;
    border: none;
    transform: rotateY(180deg);
  }
  
  .game {
    display: grid;
    grid-gap: 20px;
    justify-content: center;
    /* grid-template-columns: repeat(4, minmax(100px, 200px)); */
    /* grid-template-rows: repeat(3, minmax(100px, 200px)); */
    grid-template-columns: repeat(4, 10vw);
    grid-template-rows: repeat(4, 10vw);
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #33333380;
    background: linear-gradient(to bottom right, #30caba, #a67fcf);
  }
  
  /* FLIP CARD TUTORIAL */
  /* https://www.w3schools.com/howto/howto_css_flip_card.asp */
  
  .item {
    display: grid;
    background: transparent;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  .item__inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Position the front and back side */
  .item__front,
  .item__back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #33333380;
  }
  
  /* Style the front side (fallback if image is missing) */
  .item__front {
    background-color: #303d49;
  }
  
  /* Style the back side */
  .item__back {
    background: #2eb2e6;
    color: white;
    transform: rotateY(180deg);
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 5rem;
  }
  
  .visible {
    transform: rotateY(180deg);
  }
  
  .matched {
    transform: rotateY(180deg);
  }
  
  .item__back--matched {
    background: #30ccba;
  }
  
  .game-won {
    position: absolute;
    color: white;
    background: rgb(71, 8, 94);
    background: linear-gradient(
      to bottom right,
      rgba(71, 8, 94, 1) 0%,
      rgba(27, 14, 149, 1) 50%,
      rgba(71, 8, 94, 1) 100%
    );
    top: 0;
    transform: translateY(-100vh);
    left: 0;
    height: 90vh;
    width: 90vw;
    margin: 5vh 5vw;
    border-radius: 10px;
  
    transition: 0.2s all;
    /* display: none; */
  }
  
  .game-won--active {
    transform: translateY(0vh);
    display: grid;
    justify-content: center;
    align-content: center;
  }
  
  .game-won__icon {
    font-size: 5rem;
    justify-self: center;
  }
  
  .replay {
    border: 1px solid white;
    border-radius: 2px;
    background: none;
    color: white;
    padding: 10px;
  }
  
  .replay:hover,
  .replay:focus {
    background: #ffffff15;
    cursor: pointer;
  }
  
  .replay:active {
    transform: translateY(2px);
  }
  